services:
  app:
    build:
      context: ..
      dockerfile: docker/Dockerfile
    volumes:
      - ../app:/app
      - /app/node_modules
      - /app/.next
    ports:
      - "3000:3000"
      - "8788:8788"
    environment:
      - NODE_ENV=development
    tty: true
    stdin_open: true
    command: sh -c "npm install && npm run dev"
